

body{
     margin: 0;
     font-family: CANDARA;
     /* background-color: #d3d3d3; */
     background-color: #fffff1;

 }
 a{
     text-decoration: none;
     color: black;
    
    
}


 
#project_a{
    padding-left: 43rem;

}

.navigation{
    padding: 1rem;
    font-size: 23px;
    border: 1px solid #E6E6E3;
    
}

.list-item-inline{
    display: inline;
    list-style: none;
    padding-left: 3rem;

}

.list-ul{
    list-style: none;
    

}
#home_a{
    font-weight: bold;
}




#heading{
    font-size: 4rem;
    padding-left: 1rem;
    
}
img{
    height: 40px;
    width: 40px;
    
}
a:hover{
    /* color:#7c3aed; */
   color: #0000FF;  
	 /* color:black; */
}
 

 #github{
    margin-top: 11rem;
    margin-left: 8rem;
   
    

} 
#twitter{
    margin-top: 2rem;
    margin-left: 8rem;

}

#linkedIn{
    height: 40px;
    width: 40px;
    margin-top: 2rem;
    margin-left: 8rem;
}


#div1{
    height: 400px;
    width: 180px;
    /* background-color: pink; */
    /* border: 1px solid blue; */
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    
}

#div2{
    height: 500px;
    width: 500px;
    /* background-color: red; */
    /* border: 1px solid black; */
    float: left;
    margin-left: 100px;
    padding-left: 1rem;
    /* margin-top: 20px; */
}

#image{
   
        height: 300px;
        width: 400px;
        margin-left:40rem;
        margin-top: 3rem;
    
    /* margin-top: 250px;
    margin-left: 560px; */
    /* background-color: #f1f1f1; */
    display: flex;
}





/* Project page styles are here */

.project_div1{
    height:280px;
    width: 900px;
    /* border: 1px solid black; */
    margin-left: 12rem;
}

.project1{
    height: 200px;
    width: 380px;
    border: 2px solid blue;
    float: right;
    margin-right: 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.project2{
    height: 240px;
    width: 380px;
    border: 2px solid blue;
    float: right;
    margin-right: 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
    
    
}
 
.project3{
    height: 200px;
    width: 380px;
    border: 2px solid blue;
    float: left;
    margin-left: 14rem;
    margin-top: 3rem;
    border-radius: 1rem;
}
#lesson1
{
    width: 380px;
}

p{
    font-size: 22px;
    margin-left: 1rem ;
}
h1{
    margin-left: 1rem ;  
}


/* blog page style are here */

/* .blog_div1{
    height:170px;
    width: 800px;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 13rem;
}

.blog_div2{
    height:170px;
    width: 800px;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 13rem;
    margin-top: 2rem;
} */

/* #blog1-heading {

    
    /* font-size: 30px; */
    /* text-align: center; */

    /* text-align: right;


} */ 

/* h2{
    /* text-align: center; 
    margin-left:28rem ;
} */

#blog2-heading{
    /* margin-left: 5rem; */

    font-size: 30px;
    text-align: center;


}



#content-blog1{
    height: 600px;
    width: 950px;
    /* border: 1px solid black; */
    padding: 3rem;
    margin-left: 8rem;
    font-size: 15px;
    
}

#content-blog2{
    height: 850px;
    width: 950px;
    /* border: 1px solid black; */
    padding: 3rem;
    margin-left: 8rem;
    
}

.heading-top{ 
    text-align: center;
    color: blue;
} 


.blog1{
    height: 150px;
    width: 650px;
    border: 1px solid blue;
    padding-top: 2rem;
    margin-left: 20rem;
    /* margin-top: 2rem; */
    border-radius: 1rem;
}


.blog2{
    height: 120px;
    width: 480px;
    border: 1px solid blue;
    /* padding-top:3rem; */
    margin-left: 25rem;
    border-radius: 1rem;
}



/* #blogImage{
    height: 70px;
    width: 70px;
    margin-right: 10rem;
} */

/* #image1-blog{
    
        height: 100px;
        width: 120px; */
        /* border: 1px solid blue; 
        padding-top: 2px;
        margin-left: 1rem;
        /* margin-top: 2rem; 
        border-radius: 1rem; }*/
    
 

/* #blog1-heading{
    height: 100px;
    width: 100px;
    border: 1px solid blue;
}


#b_head{
    color: blue;
    padding-bottom: 5rem;
}

#img-div{
    height: 140px;
    width: 150px;
    border: 1px solid blue;
}

#head-div{
    height: 140px;
    width: 150px;
    border: 1px solid green;
    margin-left: 20rem;
    float: right;
} */




#image2{
    height: 100px;
    width: 100px;
    /* margin-top: 2rem; */
}



#new-image{
    height: 80px;
    width: 120px;
    margin-top: 1.3rem;
    margin-left: 3rem;
}


#head{
    margin-left: 9rem;
    font-size: 23px;
}


